

.card {
    padding: 8px;
}

.title, .content, .button-container {
    margin: 8px;
    background-color: lightblue;  
      
}

.title {
    font-size: 16px;
    padding: 8px;
}

.content {
    padding: 16px 8px;
}

.button-container {
    text-align: center;
    padding: 8px;
}

button {
    margin: auto;
    display: block;
    padding: 8px 24px;
}